* {
    padding: 0;
    margin: 0;
}

#board {
    display: grid;
    width: 800px;
    height: 800px;
    border: 10px solid #956843;
    border-radius: 10px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#board div {
    height: 100px;
    width: 100px;
}

#board div:hover {
    height: 90px;
    width: 90px;
    border: 5px solid #956843;
}

.white {
    background-color: #F0D9B5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: #B58863;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startGame {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: aquamarine;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    text-align: center;
}

body {
    background-color: thistle;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}